<div class="col-xlg-4 col-lg-5 col-md-6 project">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top img-project" id="<%= index %>" alt="<%= project.name %>" style="width: 100%; display: block;" src="<%= project.imgSrc %>" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"> ${project.shortDescription}</p>
        <a class="card-text" href="/p/<%= index %>">View project <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>
</div>