<%- include('partials/header') %>

    <body class="noselect">
        <section class="project-template">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="big-heading">404</h1>
                        <h2 class="middle-heading text-center">Content not found</h2>
                        <div>
                            <img src="/icons/ghost.png" alt="404-ghost" width="140px">
                        </div>
                        <button type="button" class="btn btn-brown btn-lg download-button" onclick="history.back()">
                            Go back</button>
                    </div>
                </div>
            </div>
        </section>

<%- include('partials/footer') %>