<section id="about" class="container-fluid">
    <h2 class="middle-heading">About me</h2>
    <h6>Know more about me :]</h6>
    <div class="row">
        <div class="col-lg-7">
            <p>Hello world! My name is Melissa Huerta, a professional Software Developer with 3+ years of
                experience in both
                <strong>web</strong> and <strong>mobile</strong> applications. I develop <span>websites</span>
                with JavaScript, React
                and Node and <span>mobile apps </span>
                with Flutter (Dart) and Firebase.<br />
                Being an <strong>innovative, perserver</strong> and <strong>rigorous</strong> person has allowed
                me
                to deliver projects fulfilling the expectations.<br />
                Work with me if <span>teamwork</span> and <span>communication</span> throughout the
                project are your priorities.<br />
                Currently, I’m focused on building landing pages, portfolios, websites for freelancers and small
                businesses.<br />

            </p>
        </div>
        <div class="col-lg-5">
            <div class="about-image title-image">
                <img src="img/mhdev-about.png" alt="mhdev_photo">
            </div>
        </div>
        <div class="about-btn col-lg-3">
            <a class="btn btn-brown btn-lg download-button" href="./files/HuertaMelissa-DevResume-English.pdf"
                download="HuertaMelissa_Resume">
                Download CV <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>