<%- include('partials/header') %>

<body class="noselect">
    <div class="btn-goback-up" id="btnGobackUp">
        <a href="#" class="goback-up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>

    <section class="bg-purple" id="title">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <%- include('partials/navbar') %>
            <!-- Title -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-title-image">
                        <img class="title-image" src="img/mhdev-comp.png" alt="iphone-mockup">
                    </div>
                    <h1 class="big-heading">Melissa Huerta</h1>
                    <h2 class="big-desc">Software Developer</h2>
                    <p>Specialized in turning ideas into apps. 🚀</p>
                    <div class="socials socials-links">
                        <!-- Here goes the socials links -->
                    </div>
                    <a href="#contact" class="scroll-soft btn btn-brown btn-lg download-button">
                        Let's make an app!</a>

                </div>
            </div>
        </div>
    </section>

    <section class="workflow container-fluid" id="workflow">
        <h2 class="middle-heading">Workflow</h2>
        <h6>Know more how I do things :]</h6>
        <div id="workflow-steps" class="row">
            <!-- Here goes the workflow steps -->
        </div>
    </section>

    <section id="about" class="container-fluid">
        <h2 class="middle-heading">About me</h2>
        <h6>Know more about me :]</h6>
        <div class="row">
            <div class="col-lg-7">
                <p>Hello world! My name is Melissa Huerta, a professional Software Developer with 3+ years of experience in both
                    <strong>web</strong> and <strong>mobile</strong> applications. I develop <span>websites</span> with JavaScript, React 
                    and Node and <span>mobile apps </span>
                    with Flutter (Dart) and Firebase.<br />
                    Being an <strong>innovative, perserver</strong> and <strong>rigorous</strong> person has allowed me
                    to deliver projects fulfilling the expectations.<br />
                    Work with me if <span>teamwork</span> and <span>communication</span> throughout the 
                    project are your priorities.<br />
                    Currently, I’m focused on building landing pages, portfolios, websites for freelancers and small businesses.<br/>
                    
                </p>
            </div>
            <div class="col-lg-5">
                <div class="about-image title-image">
                    <img src="img/mhdev-about.png" alt="mhdev_photo">
                </div>
            </div>
            <div class="about-btn col-lg-3">
                <a class="btn btn-brown btn-lg download-button" href="./files/HuertaMelissa-DevResume-English.pdf"
                    download="HuertaMelissa_Resume">
                    Download CV <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="services" class="container-fluid">
        <h2 class="middle-heading">Services</h2>
        <h6>See which services is <span>ideal</span> for you :]</h6>

        <div class="row">
            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <img src="./icons/arrival.png">
                        <h3 class="my-0 fw-normal">Landing Page</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title price-text">$50.00 <span>$80.00</span></h2>
                        <p>1 single page</p>
                        <p>Up to 5 sections</p>
                        <p>Responsive and Cross-Browser</p>
                        <p>Can include contact form</p>
                        <p class="ideal">Ideal for a portfolio or a marketing campaign.</p>
                        <a href="#contact" class="btn btn-lg btn-block btn-outline-dark" >I want this!</a>
                    </div>
                </div>
            </div>
    </section> 

    <section id="portfolio" class="container-fluid">
        <h2 class="middle-heading">The portfolio</h2>
        <h6>Come on! Take a glance of the last projects I had worked on :]</h6>

        <div id="project-gallery" class="row projects-gallery project-cards row">
          <!--   <div class="text-center">
                <ul id="filters" class="filters mb-5 mx-auto   ps-0">
                    <li class="type mb-3 mb-lg-0 active" data-filter="*">All</li>
                    <li class="type mb-3 mb-lg-0" data-filter=".webapp">Web App</li>
                    <li class="type mb-3 mb-lg-0" data-filter=".mobileapp">Mobile App</li>
                    <li class="type mb-3 mb-lg-0" data-filter=".games">Games</li>
                </ul>
            </div> -->

            <!-- Here goes the portfolio items -->
        </div>
    </section>

    <section id="blog" class="container-fluid">
        <h2 class="middle-heading">Blog</h2>
            <h6>My recent posts 📝</h6>
            <div class="row" id="mediumPosts"></div>
            <nav>
                <ul class="pagination justify-content-center" id="pagin"></ul>
            </nav>
            <a class="btn btn-brown" href="https://medium.com/@melissahuertadev" target="_blank" role="button">View all posts</a>            
    </section>

    <section id="contact" class="container-fluid">
            <h2 class="middle-heading">Let's work</h2>
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-8 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="/sendmail" method="POST">
                            <div class="form-row justify-content-center">
                                <div class="col-md-4 mb-4">
                                    <input type="text" class="form-control form-input" id="name" name="name"
                                        placeholder="Full name" required>
                                </div>
                                <div class="col-md-6 mb-4 ">
                                    <input type="email" id="email" name="email" class="form-control form-input"
                                        placeholder="E-mail" required>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="col-md-10 mb-4">
                                    <textarea type="text" id="message" name="message" rows="6" cols="30"
                                        placeholder="Your message" class="form-control md-textarea form-input"
                                        required></textarea>
                                </div>
                            </div>

                            <input class="btn btn-brown col-md-6" type="submit" value="Send">

                        </form>
                    </div>

                    <div class="col-md-4 text-center">
                        <ul class="list-unstyled mb-0">
                            <li class="contact-data"><i class="fas fa-envelope"></i>
                                <p>melissahuertadev@gmail.com</p>
                            </li>
                            <li class="contact-data"><i class="fas fa-phone"></i>
                                <p>+ 51 944 235 148</p>
                            </li>
                            <li class="contact-data"><i class="fas fa-map-marker-alt"></i>
                                <p>Lima, 15012, Peru</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>

<%- include('partials/footer') %>