<%- include('partials/header') %>
<body class="noselect">
    <section id="success">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h2 class="big-desc">E-mail has been sent!</h2>
                        <img src="./icons/happy.png" width="80px">
                    </div>
                    <button type="button" class="btn btn-brown btn-lg download-button" onclick="history.back()">
                        Go back</button>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>